# This requirements.in file specifies high-level dependencies in a human-readable format.
# To generate a requirements.txt file which contains fully-resolved dependencies run "pip-compile --no-emit-options" (requires pip-tools)
# The requirements.txt may be environment-dependent; users should run "pip-compile" for each python environment

iohub == 0.3.0a7
napari[pyqt5]
napari-iohub @ git+https://github.com/czbiohub-sf/napari-iohub.git@6a5d13f16af0b6a7865a117e9309a837743ee28c # does not include clustering
napari-ome-zarr
napari-animation
ipykernel
nd-embedding-atlas @ git+https://github.com/czbiohub-sf/nd-embedding-atlas.git@b707e8c28a3fa3f876fe5805af7936b9505f36ab
